<!DOCTYPE html>
<html>
<head>
  <title>MakersBnB</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<form action="/my_spaces/new">
  <button type="submit">List a new space</button>
</form>

<% @spaces.each do |space| %>
  <%= space.name %><br>
  <%= space.description %><br>
  £<%= space.price %> ppn<br>
  <form action="/my_spaces/<%= space.id %>/edit">
    <button type="submit">Edit this space</button>
  </form>
  <br>
<% end %>

</body>
</html>